.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  background-color: #4285f4;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6vh;
  width: 18vw;
  font-size: 2.4rem;
  border-radius: 0.4rem;
  border: 1px solid #4285f4;
  color: #4285f4;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #1970fb;
}

.google-img {
  content: url(../../assets/google.svg);
  max-width: 4vh;
  background-color: #fff;
}

.text-carregamento {
  font-size: 2.4rem;
  color: #fff;
  padding: 5rem;
  transform: translateX(10);
}

@media screen and (max-width: 800px) {
  .google-btn {
    width: 60vw;
  }
}
