.container {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100vw;
  height: 100vh;
}

.googleBtn {
  font-size: 1.4rem;
  color: #fff;
  padding: 10vh 10vw;
  margin: auto;
  background-color: rgb(0, 85, 255);
  border: none;
  border-radius: 1rem;
}
